.rhi-highlighted {
    box-shadow: 0 0 0 max(1000vh, 1000vw) rgba(0, 0, 0, 0.6) !important;
    z-index: 999 !important;
    outline-style: dashed !important;
    outline-color: red !important;
}
.rhi-highlighted-position-relative {
    position:relative !important;
}
.rhi-highlighted-extra {
    outline-width: thick !important;
}
.rhi-highlighted-parent-hidden {
    overflow: unset !important;
}
.rhi-highlighted-parent-front {
    z-index: 998 !important;
}
