/*highlighting the "hole" element by adding a dashed outline and darkening most things around it*/
.rhi-highlight-hole {
    box-shadow: rgba(33, 33, 33, 0.8) 0 0 1px 2px, rgba(33, 33, 33, 0.6) 0 0 0 5000px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    z-index: 9997;
    position: fixed;

    outline-style: dashed;
    outline-color: red;
    pointer-events: none
}

/*temporarily thicker highlight, for a primitive animation*/
.rhi-highlight-hole-extra {
    outline-width: thick;
}

/*red background to mark as failed*/
.rhi-highlight-hole-failed {
    background-color: rgba(255, 0, 0, 0.8);
    outline-width: thin;
    outline-style: solid;
}

.rhi-highlight-hole-stop {
    box-shadow: rgba(33, 33, 33, 0.5) 0 0 1px 2px, rgba(33, 33, 33, 0.1) 0 0 0 5000px;
}

/*used to mark a user in the player list as currently singled out for highlighting*/
.rhi-only-highlight-for-this-user {
    outline-color: red;
    outline-style: auto;
}
